<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#article"><%= @article.title  %>  </a></li>
  <li role="presentation"><a href="#versions">Previous Versions</a></li>
</ul>

<div class="tab-content" id="article">
<%= @article.current_version_content %>
</div>

<% @versions.each do |version|  %>
  <ul>
    <li><%= version.editor.username %></li>
  </ul>
<% end %>


<%= link_to "Edit Article", edit_article_version_path(@article, @version)  %>





<% if admin %>
  <%= link_to "Delete this article and all of its version history", @article, :method => :delete, data: {confirm: "Are you SURE? Changes cannot be undone!"}, class: "btn btn-warning" %><br>
<% end %>
