<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#article"><%= @article.title  %>  </a></li>
  <li role="presentation"><a href="#versions">Previous Versions</a></li>
</ul>

<div class="tab-content" id="article">
<%= @article.current_version_content %>
</div>

<div class="tab-content" id="versions">
  <% @versions.each do |version|  %>
    <ul>
      <li><%= link_to "Version #{@article.versions.index(version) + 1 }", article_version_path(@article, version) %> Created on <%= version.created_at.to_date %> By <%= version.editor.username %></li>
    </ul>
  <% end %>
</div>


<% if @article.needs_sources %>
  <p>This article is marked as NEEDS SOURCES</p>
<% end %>

<% if logged_in? %>
  <%= link_to "Edit Article", edit_article_version_path(@article, @version)  %><br>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<% if admin %>
  <%= link_to "Delete this article and all of its version history", @article, :method => :delete, data: {confirm: "Are you SURE? Changes cannot be undone!"} %><br>
  <% if @article.featured %>
    <%= link_to "Remove Featured Status", remove_featured_path, :method => :post %><br>
  <% else %>
    <%= link_to "Make Featured", make_featured_path, :method => :post %><br>
  <% end %>
  <% if @article.needs_sources == false %>
    <%= link_to "Mark as Needs Sources", needs_sources_path, :method => :post %>
  <% else %>
    <%= link_to "Remove Needs Sources Flag", remove_needs_sources_path, :method => :post %>
  <% end %>
<% end %>

<% if admin || author(@article) %>
  <% if @article.status == 'unpublished' %>
    <p>This article is currently NOT PUBLISHED</p>
    <%= link_to "Publish Your Article", publish_path, :method => :post %>
  <% elsif @article.status == 'published' %>
    <p>This article is currently PUBLISHED</p>
    <%= link_to "Make Your Article Not Published", unpublish_path, :method => :post %>
  <% end %>
<% end %>

