<%= link_to "Back to Home", categories_path %><br>

<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_path(@user) %><br>
<% end %>

<% if logged_in? %>
  <h1><%= @user.username %></h1>
  <% if current_user && current_user.admin? %>
    <p>status: <%= @user.status  %></p>
  <% end %>
  <% if current_user.admin? && @user.member?%>
    <%= link_to "Make admin", make_admin_path, :method => :post  %><br>
  <% end %>


  <%= image_tag @user.image.url(:large) %>

  <h3>Articles Written:</h3>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article)  %>
      </li>
    <% end %>
  </ul>

  <h3>Edited Articles:</h3>
  <ul>
    <% @edited_articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not authorized to see this page!!</p>
<% end %>
