<%= link_to "Back to Home", categories_path %>

<h1><%= @user.username %></h1>
<% if current_user && current_user.admin? %>
  <p>status: <%= @user.status  %></p>
<% end %>
<% if current_user.admin? && @user.guest?%>
  <%= link_to "Make admin", user_path(@user, :user => { :status => "admin"}), :method => :put %><br>
<% end %>


<%= image_tag @user.image.url(:large) %>

<h3>Articles Written:</h3>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article)  %>
    </li>
  <% end %>
</ul>

<h3>Edited Articles:</h3>
<ul>
  <% @edited_articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
