
<% if logged_in? %>
  <%= link_to 'Create Article', new_category_article_path(@category) %><br>
<% end %>

<% if @category.has_articles %>
  <table>
    <% @category.articles.each do |article| %>
      <tr>
      <% if article.first_picture %>
        <td class="parent-cell"><%= article.first_picture.html_safe%></td>
      <% else %>
        <td class="preview-image"><img src="http://s7d2.scene7.com/is/image/woodstream/hh-animals-squirrel-4?$ProductPgLarge2$" class="preview-image" /></td>
      <% end %>
      <td><%= link_to article.title, article_path(article) %><br><br>...<%= article.longest_sentence%>...</td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>No Articles created under <%= @category.title%> yet!</p>
<% end %>
