<!DOCTYPE html>
<html>
<head>
  <title>Wikijams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <% if session[:user_id] == nil %>
      <li class="pipe-separate left"><%= link_to 'Register' new_user_path %></li>
      <li class="pipe-separate left"><%= link_to 'Login' login_path %></li>
    <% elsif session[:user_id] != nil %>
      <% user = User.find(session[:user_id]) %>
      <li class="pipe-separate left"><%= link_to user.username, user_path(user) %></li>
      <li class="pipe-separate left"><%= link_to 'Logout' logout_path %></li>
    <% end %>
  </ul>
</nav>


<%= yield %>

</body>
</html>
